*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
compressed
input
distorted
images
sparse
output
stereo
COLMAP-3.9.1-windows-cuda
SIBR_viewers